In [64]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [9]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

Por padrão, o Jupyter mostra apenas 20 colunas do dataframe. Se quisermos exibir mais, podemos utilizar:

In [7]:
#pd.set_option('display.max_columns', 85)  # 85, neste caso, pois já conhecemos o formato do dataframe
#pd.set_option('display.max_rows', 85)  # para exibir linhas, a sintaxe é similar

In [4]:
df.shape  # it's an attribute, not a method

(88883, 85)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [12]:
schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

In [13]:
pessoas = {
    'nome': ['Pedro', 'Paloma', 'Ivan'],
    'sobrenome': ['Bittencourt', 'Nonato', 'Mizanzuk'],
    'email': ['pedrolindo@email.com', 'lomalinda@email.com', 'mizanlindo@email.com']
}

In [15]:
pessoas['nome']

['Pedro', 'Paloma', 'Ivan']

In [16]:
df_pessoas = pd.DataFrame(pessoas)  # cria um df a partir de um dict
df_pessoas

     nome    sobrenome                 email
0   Pedro  Bittencourt  pedrolindo@email.com
1  Paloma       Nonato   lomalinda@email.com
2    Ivan     Mizanzuk  mizanlindo@email.com

In [17]:
df_pessoas['email']

0    pedrolindo@email.com
1     lomalinda@email.com
2    mizanlindo@email.com
Name: email, dtype: object

In [18]:
df_pessoas.email

0    pedrolindo@email.com
1     lomalinda@email.com
2    mizanlindo@email.com
Name: email, dtype: object

In [21]:
df_pessoas[['nome', 'sobrenome']]
type(df_pessoas[['nome', 'sobrenome']])

pandas.core.frame.DataFrame

In [22]:
df_pessoas.columns

Index(['nome', 'sobrenome', 'email'], dtype='object')

In [24]:
df_pessoas.iloc[[0, 2]]

    nome    sobrenome                 email
0  Pedro  Bittencourt  pedrolindo@email.com
2   Ivan     Mizanzuk  mizanlindo@email.com

In [28]:
df_pessoas.iloc[[0, 1], 1]

0    Bittencourt
1         Nonato
Name: sobrenome, dtype: object

In [29]:
df_pessoas.loc[[0, 1], 'sobrenome']

0    Bittencourt
1         Nonato
Name: sobrenome, dtype: object

In [31]:
df_pessoas.loc[:, 'email']

0    pedrolindo@email.com
1     lomalinda@email.com
2    mizanlindo@email.com
Name: email, dtype: object

In [43]:
df_pessoas.loc[0]

nome                        Pedro
sobrenome             Bittencourt
email        pedrolindo@email.com
Name: 0, dtype: object

In [45]:
df_pessoas.index

RangeIndex(start=0, stop=3, step=1)

In [46]:
df_pessoas.set_index('email')

                        nome    sobrenome
email
pedrolindo@email.com   Pedro  Bittencourt
lomalinda@email.com   Paloma       Nonato
mizanlindo@email.com    Ivan     Mizanzuk

In [47]:
df_pessoas

     nome    sobrenome                 email
0   Pedro  Bittencourt  pedrolindo@email.com
1  Paloma       Nonato   lomalinda@email.com
2    Ivan     Mizanzuk  mizanlindo@email.com

In [48]:
df_pessoas.set_index('email', inplace=True)
df_pessoas

                        nome    sobrenome
email
pedrolindo@email.com   Pedro  Bittencourt
lomalinda@email.com   Paloma       Nonato
mizanlindo@email.com    Ivan     Mizanzuk

In [49]:
df_pessoas.loc['pedrolindo@email.com']

nome               Pedro
sobrenome    Bittencourt
Name: pedrolindo@email.com, dtype: object

In [51]:
df_pessoas.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [53]:
df_pessoas.reset_index(inplace=True)
df_pessoas

   index                 email    nome    sobrenome
0      0  pedrolindo@email.com   Pedro  Bittencourt
1      1   lomalinda@email.com  Paloma       Nonato
2      2  mizanlindo@email.com    Ivan     Mizanzuk

Ao invés, podemos mudar o índice na chamada do read_csv:

In [54]:
# df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')

In [63]:
schema_df.loc['MrgIdiot']

KeyError: 'MrgIdiot'

In [32]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [33]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [39]:
df.loc[[88881, 3, 765], 'Hobbyist']

88881     No
3         No
765      Yes
Name: Hobbyist, dtype: object

In [40]:
df.loc[[0:3], 'Hobbyist']

SyntaxError: invalid syntax (<ipython-input-40-e5ed74f59e99>, line 1)

In [41]:
df.loc[0:3, 'Hobbyist']

0    Yes
1     No
2    Yes
3     No
Name: Hobbyist, dtype: object

In [42]:
df.loc[0:3, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time